* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 #main {
    /* background: #aaaaaa; */
    height: 100vh;

  }
  

  #formulario {
    background-color: rgb(41, 41, 150);
  }

  #formulario-dentro{
    float: left;
    padding-right: 50px;
  }